@import url('https://fonts.googleapis.com/css2?family=VT323&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";


body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
}

:root {
    /* style fonts */
  --font-display: 'VT323', monospace;
  --font-body: 'Space Mono', monospace;

    /* colors */
  --color-bg: #0a0a0a;
  --color-surface: #0d0d1a;
  --color-border: #1a3a2a;

  --color-title: #00cc6a;
  --color-text: #00ff88;
  --color-purple: #a78bfa;
  --color-white: #e2e8f0;
  --color-muted: #6b7280;
}

/* animação piscante */
@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.nav-blink:hover {
  animation: blink 0.7s step-end infinite;
}

/* efect in border */
@keyframes border-run {
  0% { background-position: 0% 50%; }
  100% { background-position: 200% 50%; }
}

.border-glow {
  position: relative;
  border: none !important;
  background: linear-gradient(90deg, #1a3a2a, #00ff88, #1a3a2a, #00ff88) border-box;
  background-size: 200% 100%;
  animation: border-run 4s linear infinite;
  padding: 1px;
}

.border-glow-inner {
  background: #0a0a0a;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}